<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/style.css">

    
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->

    <!--owl css-->
    <link rel="stylesheet" href="assets/css/owl-css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl-css/owl.theme.default.css">
  
    <title>SHAP</title>
  </head>
  <body>
    <div class="page-wrapper">
        <!---navbar area-->
        <header>
          <div class="top-nav">
            <div class="container">
              <div class="list-area">
                <ul class="list-left">
                  <li><a href="#">
                    <img src="assets/images/icons/mail.png" alt="mail" style="width: 20px;">
                    info@shap.com</a></li>
                  <li><a href="#">
                    
                    <img src="assets/images/icons/phone.png" alt="phone" style="width: 16px; margin: -3px;">
                    +852 2152 9521</a></li>
                </ul>
                <ul class="list-right">
                  <li><a href="register.html">Register</a></li>
                  <li><a href="#">Sign In</a></li>
                  <li><a href="cart-page.html">
                    <img src="assets/images/icons/shopping-cart.png" alt="cart">
                  </a></li>
                </ul>
              </div>
            </div>
          </div>
          <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo-shap.png" class="logo-shap" alt="shap_logo">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon">
                  <img src="assets/images/icons/menu.png" alt="menu">
                </span>
              </button>
            
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Beer
                       <span><img src="assets/images/icons/Layer -2.png" alt="caret" class="caret-icon"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="about.html">About</a>
                      <a class="dropdown-item" href="products.html">Products</a>
                      <a class="dropdown-item" href="cart-page.html">Cart</a>
                      <a class="dropdown-item" href="privacy-policy.html">Privacy Policy</a>
                      <a class="dropdown-item" href="register.html">Register</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Wine <span><img src="assets/images/icons/Layer -2.png" alt="caret" class="caret-icon"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Liquor <span><img src="assets/images/icons/Layer -2.png" alt="caret" class="caret-icon"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Snacks <span><img src="assets/images/icons/Layer -2.png" alt="caret" class="caret-icon"></span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                    </div>
                  </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                  <div class="search-bind">
                    <img src="assets/images/icons/search-icon.png" class="search-icon" alt="search-icon">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  </div>
                  <a href="products.html" class="btn item-btn">Show all items</a>
                </form>
              </div>
            </div>
          </nav>
        </header><!---header ends-->

        <div class="policy-section">
            <div class="container">
                <div class="title">
                    <h1>Privacy and Policy</h1>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <p class="desc">
                            
We value the trust you place in us and recognize the importance of secure transactions and information privacy. This Privacy Policy describes how Shap Internet Private Limited and its affiliates (collectively “Shap, we, our, us”) collect, use, share or otherwise process your personal information through Shap website www.Shap.com, its mobile application, and m-site (hereinafter referred to as the “Platform”).
                        </p><p class="desc">
By visiting the Platform, providing your information or availing our product/service, you expressly agree to be bound by the terms and conditions of this Privacy Policy, the Terms of Use and the applicable service/product terms and conditions. If you do not agree, please do not access or use our Platform.
</p><p class="desc">
1. Collection of Your Information
</p><p class="desc">
When you use our Platform, we collect and store your information which is provided by you from time to time. In general, you can browse the Platform without telling us who you are or revealing any personal information about yourself. Once you give us your personal information, you are not anonymous to us. Where possible, we indicate which fields are required and which fields are optional. You always have the option to not provide information by choosing not to use a particular service, product or feature on the Platform.
</p><p class="desc">
We may track your buying behaviour, preferences, and other information that you choose to provide on our Platform. We use this information to do internal research on our users' demographics, interests, and behaviour to better understand, protect and serve our users. This information is compiled and analysed on an aggregated basis. This information may include the URL that you just came from (whether this URL is on our Platform or not), which URL you next go to (whether this URL is on our Platform or not), your computer browser information, and your IP address.
</p><p class="desc">
We collect personal information (such as email address, delivery address, name, phone number, credit card/debit card and other payment instrument details) from you when you set up an account or transact with us. While you can browse some sections of our Platform without being a registered member, certain activities (such as placing an order or consuming our online content or services) do require registration. We do use your contact information to send you offers based on your previous orders and your interests.
</p><p class="desc">
If you choose to post messages on our message boards, chat rooms or other message areas or leave feedback or if you use voice commands to shop on the Platform, we will collect that information you provide to us. We retain this information as necessary to resolve disputes, provide customer support and troubleshoot problems as permitted by law.
</p><p class="desc">
If you send us personal correspondence, such as emails or letters, or if other users or third parties send us correspondence about your activities or postings on the Platform, we may collect such information into a file specific to you.
</p><p class="desc">
If you enrol into our SuperCoins Loyalty Program, we will collect and store your personal information such as name, contact number, email address, communication address, date of birth, gender, zip code, lifestyle information, demographic and work details which is provided by you to Shap or a third-party business partner that operates online/offline establishments or platforms where you can earn SuperCoins for purchase of goods and services, and redeem SuperCoins. We will also collect your information related to your transactions on Shap platform and such third-party business partner platforms. When such third-party business partner collects your personal information directly from you, you will be governed by their privacy policies. Shap shall not be responsible for the third-party business partner’s privacy practices or the content of their privacy policies, and we request you to read their privacy policies prior to disclosing any information.
</p><p class="desc">
Shap has onboarded certain third-party business partners on the Platform who specialise in the categories like travel ticket reservations, booking online movie tickets, paying online bills and more (Ultra-Partners). If you use the services of Ultra-Partners, you will be redirected to Ultra-Partners websites/applications and your entry to Ultra-Partners websites/applications will be based on your Shap login credentials after seeking your permissions to share the data further. Shap shall not be responsible for the Ultra-Partner’s privacy practices or the content of their privacy policies, and we request you to read their privacy policies prior to disclosing any information.
</p><p class="desc">
2. Use of Demographic / Profile Data / Your Information
</p><p class="desc">
We use your personal information to provide the product and services you request. To the extent we use your personal information to market to you, we will provide you the ability to opt-out of such uses. We use your personal information to assist sellers and business partners in handling and fulfilling orders; enhancing customer experience; resolve disputes; troubleshoot problems; help promote a safe service; collect money; measure consumer interest in our products and services; inform you about online and offline offers, products, services, and updates; customize and enhance your experience; detect and protect us against error, fraud and other criminal activity; enforce our terms and conditions; and as otherwise described to you at the time of collection of information.
</p><p class="desc">
With your consent, we will have access to your SMS, contacts in your directory, location and device information. We may also request you to provide your PAN, GST Number, Government issued ID cards/number and Know-Your-Customer (KYC) details to: (i) check your eligibility for certain products and services including but not limited to credit and payment products; (ii) issue GST invoice for the products and services purchased for your business requirements; (iii) enhance your experience on the Platform and provide you access to the products and services being offered by us, sellers, affiliates or lending partners. You understand that your access to these products/services may be affected in the event consent is not provided to us.
</p><p class="desc">
In our efforts to continually improve our product and service offerings, we and our affiliates collect and analyse demographic and profile data about our users' activity on our Platform. We identify and use your IP address to help diagnose problems with our server, and to administer our Platform. Your IP address is also used to help identify you and to gather broad demographic information.

                        </p>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <div class="container">
              <div class="footer-list">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="info-section">
                    <h2 class="title">
                      INFORMATION
                    </h2>
                    <ul>
                      <li><a href="#">The brand</a></li>
                      <li><a href="#"> Local stores</a></li>
                      <li><a href="#"> Customer service</a></li>
                      <li><a href="privacy-policy.html"> Privacy & cookies</a></li>
                      <li><a href="#"> Site map</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="why-us">
                    <h2 class="title">
                      WHY BUY FROM US
                    </h2>
                    <ul>
                      <li><p>Shipping & returns</p></li>
                      <li><p>Secure shopping</p></li>
                      <li><p>Testimonials</p></li>
                      <li><p> Award winning</p></li>
                      <li><p> Ethical trading</p></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="your-account">
                    <h2 class="title">
                      YOUR ACCOUNT
                    </h2>
                    <ul>
                      <li><a href="#">Sign in</a></li>
                      <li><a href="register.html">Register</a></li>
                      <li><a href="cart-page.html">View cart</a></li>
                      <li><a href="#">View your lookbook</a></li>
                      <li><a href="#">Track an order</a></li>
                      <li><a href="#">Update information</a></li>
                    </ul>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                  <div class="contact-detail">
                    <h2 class="title">
                      CONTACT DETAILS
                    </h2>
                    <ul>
                      <li><p>Head Office: Avenue Fashion, <br>
                        180-182 Regent Street, London.</p></li>
                      <li><p>Telephone: 0123-456-789 </p></li>
                        <li><p>Email: support@yourwebsite.com</p></li>
                      <li class="social d-flex justify-content-start">
                        <img src="assets/images/icons/icons8-facebook.svg" alt="facebook" class="icons">
                        <img src="assets/images/icons/icons8-instagram.svg" alt="instagram" class="icons">
                        <img src="assets/images/icons/icons8-twitter.svg" alt="twitter" class="icons">
                      </li>
                    </ul>
                  </div>
                </div>
                </div>  
              </div>    <!--footer-list ends-->
            </div>
            <div class="copyright">
              <p>&copy;2020 shap</p>
            </div>
          </footer>
  
  
      </div>  <!----page-wrapper ends-->
      <!-- Optional JavaScript -->
      
      <script src="assets/js/owl-js/jquery.min.js"></script>
      <script src="assets/js/owl-js/owl.carousel.js"></script>
      <script src="assets/js/custom.js"></script>
      
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    </body>
  </html>